.infinity1 {
	position: absolute;
	padding: 0px;
	width: 212px;
	height: 100px;
	top:100px;
	left: 1000px;
    }
.infinity1:before,
.infinity1:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid black;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
    }
.infinity1:after {
	left: auto;
	right: 0;
	border-radius: 50px 50px 50px 0;
	transform: rotate(45deg);
    }

.infinity {
	position: absolute;
	padding: 0px;
	width: 212px;
	height: 100px;
	top:100px;
	left: 55px;
    }
.infinity:before,
.infinity:after {
	content: "";
	box-sizing: content-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border: 20px solid black;
	border-radius: 50px 50px 0 50px;
	transform: rotate(-45deg);
    }
.infinity:after {
	left: auto;
	right: 0;
	border-radius: 50px 50px 50px 0;
	transform: rotate(45deg);
    }
  /*Credit to Nicolas Gallagher*/
    /*Infinity Code Taken From CSS-Tricks Website (https://css-tricks.com/the-shapes-of-css/) */

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid black;
	color: black;

}
.right{ 
	float: right;
}

main{
	border-style:solid;
}

img{
	position: relative;
}

body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e3e7ea+28,e5ebee+47,d7dee3+100,f5f7f9+100,d7dee3+101 */
	background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(227,231,234,1) 28%, rgba(229,235,238,1) 47%, rgba(215,222,227,1) 100%, rgba(245,247,249,1) 100%, rgba(215,222,227,1) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(227,231,234,1) 28%,rgba(229,235,238,1) 47%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%,rgba(215,222,227,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(227,231,234,1) 28%,rgba(229,235,238,1) 47%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%,rgba(215,222,227,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7dee3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	top:0px;
	font-family:verdana;
	border-style: inset;
	border-color: black;
			
}

h1{
	font-size:100px;
	font-family:Impact,fantasy;
	color: white;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
		
h2{
	font-size:30px;
	line-height: 5px;
}

h3{
	font size:25px;
}

p{
	font-size:20px;
	color:#303030;
	margin:auto;
	width:60%;
	text-align: justify;
}

ul{
	margin-left: 50px;
	width:30%;
		
}
		
br1{
	display: block;
   	line-height: 50px;
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    bottom: 50px
}
.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: black;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
/*Credit to Nicolas Gallagher*/
/*Heart Code Taken From CSS-Tricks Website (https://css-tricks.com/the-shapes-of-css/) */