
		.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid white;
	color: white;
}
.right{ 
			float: right;
		}
		main{
			border-style:solid;
		}
		img{
			max-width: 150%;
 			height: auto;
		}
		body{
			background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(239,1,124,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(239,1,124,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(239,1,124,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			font-family:verdana;
			border-style: inset;
			border-color: black;
		}
		h1{
			font-size:80px;
			font-family:Impact,fantasy;
			color: white;
		}
		h2{
			font-size:30px;
		}
		h3{
			font size:25px;
		}
		p{
			font-size:20px;
			color:#303030;
		}
	